.DS_Store
.project
.settings
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
/build
*/build
out/
*/bin/
/out/
*/generated_tests/
common/generated/
fasttext/generated/
embedding-classification/generated/
nn/generated/
text-tokenization-jflex/src/main/jflexGeneratedSrc/
