.DS_Store
.project
.settings
.classpath
.gradle
.idea
*.iml
*.ipr
*.iws
/build
*/build
out/
*/bin/
/out/
*/generated_tests/

common/generated/
core/generated/
embedding-classification/generated/
examples/**/generated/
examples/**/generated_tests/
fasttext/generated/
nn/generated/
text-tokenization-jflex/src/main/jflexGeneratedSrc/
visualization-mermaid/generated/